<main class="text-center">
    <form class="product__form" action="/admin/product" method="post">
        <label for="title">Title</label>
        <input type="text" name="title" />
        <button type="submit">Add</button>
    </form>
</main>