* {
    padding: 0;
    margin: 0;
}

.text-center {
    text-align: center;
}
.main-header {
    background-color: antiquewhite;
}
.main-header__list {
    list-style: none;
    display: flex;
}
.main-header__item{
    padding: 10px;
}
.main-header__item a {
    text-decoration: none;
}
.main-header__item .active {
    color: red;
}

.card {
    background-color: antiquewhite;
    text-align: center;
    width: 25%;
    margin: 10px auto auto auto;
    padding: 20px;
}
.card__image {
    margin: 5px 0;
}
.card__action {
    margin-top: 10px;
}
.card__action button {
    color: white;
    background-color: rgb(109, 151, 151);
    border: 1px solid blueviolet;
    padding: 2px;
}

.product__form {
    background-color: antiquewhite;
    display: inline-block;
    padding: 25px;
    margin-top: 20px;
}

.product__form button {
    margin: 0 5px;
    background-color: rgb(132, 186, 168);
    border: 1px solid rebeccapurple;
}